{% extends "base.html" %}

{% block content %}
      <h1>Įrankių sąrašas</h1>
  {% if irankis_list %}
  <ul>
    {% for irankis in irankis_list %}
      <li>
        {% if irankis.nuotrauka %}
            <a href="{{ irankis.id }}"><img src="{{ irankis.nuotrauka.url }}" width="100"></a>
        {% endif %}
        <a href="{{ irankis.id }}" class="irankio-pavadinimas" style="font-size: 20px">{{ irankis.name }}</a> ({{irankis.naudotojas.naudotojas.first_name}})
        <div>Laisvų: {{ irankis.laisvi_irankiai_count }}</div>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>Įrankių nėra.</p>
  {% endif %}
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1"><< pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis >></a>
        {% endif %}
    </span>
</div>

{% endblock %}