{% extends "base.html" %}
{% load static %}

{% block content %}
    {{ bet_kas }}
  {{ papildoma_informacija }}

  <p><strong>Naudotojas:</strong> <a href="{% url 'naudotojas' irankis.naudotojas.pk %}">{{ irankis.naudotojas.naudotojas.username }}</a></p>
  <p><strong>Pavadinimas:</strong> {{ irankis.name }}</p>
    {% if ar_yra_laisvu %}
        Įrakių yra
    {% else %}
        Visi įrankiai išnuomoti
    {% endif %}
  {% if irankis.nuotrauka %}
    <p><img src="{{ irankis.nuotrauka.url }}" width="200"></p>
  {% endif %}
  <p><strong>Aprašymas:</strong> {{ irankis.description }}</p>
    {% if irankis.power %}
        <p><strong>Galia:</strong> {{ irankis.power }}</p>
    {% endif %}
  <p><strong>Ar pristato:</strong> {% if irankis.delivery %} Taip {% else %} Ne {% endif %}</p>

  <div>
    {% if user.is_authenticated %}
      <div class="fieldWrapper">
        <hr>
        <h4 id="test">Palikite atsiliepimą:</h4>
        <form action="" method="post">
          {% csrf_token %}
          {{ form.atsiliepimas }}
          <input type="submit" value="Išsaugoti" class="test">
           <div id="atsiliepimas_preview"></div>
        </form>
      </div>
    {% endif %}

  </div>

  <div>
  <h4>Atsiliepimai:</h4>
  {% if irankis.irankioatsiliepimas_set.all %}
    {% for atsiliepimas in irankis.irankioatsiliepimas_set.all %}
      <hr>
      <strong>{{ atsiliepimas.naudotojas }}</strong>, <em>{{ atsiliepimas.date_created}}</em>
      <p class="atsiliepimas">{{ atsiliepimas.atsiliepimas }}</p>


    {% endfor %}
  {% else %}
    <p>Įrankis neturi atsiliepimų</p>
  {% endif %}

  </div>


  <div style="margin-left:20px;margin-top:20px">
    <h4>Įrankio vienetai:</h4>

    {% for irankio_vienetas in irankis.irankiovienetas_set.all %}
      <hr>
        <ul>
            <li>Akumuliatoriaus talpa: {{ irankio_vienetas.akumuliatoriaus_talpa }}</li>
            <li>Vietove: {{ irankio_vienetas.vietove }}</li>
            <li>Ar išnuomotas: {% if irankio_vienetas.ar_isnuomotas %} Taip {% else %} Ne {% endif %}</li>

        </ul>
    {% endfor %}
  </div>

{% endblock %}

{% block scripts %}
<script src="{% static "irankis/js/code.js" %}"></script>
{% endblock %}